.header {
  background: linear-gradient(
    270deg,
    #030a1e 7%,
    #2e84b4 35%,
    #d58eb3 55%,
    #c0163b 100%
  );
  color: rgb(67, 2, 14);
  padding: 15px 5px;
  margin: 0 auto;
  width: 100%;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 100px;
}
