.header {
  border-bottom: 1px solid #f2f4f7;
  padding: 24px 64px;
  color: #101828;
  margin: 0 auto;
  width: 100%;
  background: #d85943;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 35px;
}

@media screen and (min-width: 768px) {
  .navLinks {
    gap: 100px;
  }
}
