.selectCity {
  appearance: none;
  border-radius: 10px;
  border: none;
  padding: 18px 0 18px 44px;
  width: 360px;
  height: 56px;
  background: #f7f7f7;
  margin-top: 8px;
}
option,
.selectCity {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
}
.selectWrapper {
  position: relative;
  margin-bottom: 32px;
}

.selectWrapper .icon {
  position: absolute;
  left: 18px;
  bottom: 18px;
  pointer-events: none;
}

.selectCity:focus,
.selectCity:hover {
  background: #eae9e9b3;
}
