.label {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: rgba(16, 24, 40, 0.6);
  margin-bottom: 8px;
  text-align: start;
}
.selectCity {
  appearance: none;
  border-radius: 10px;
  border: none;
  padding: 18px 0 18px 44px;
  width: 360px;
  height: 56px;
  background: #f7f7f7;
}
option,
.selectCity {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
}
.selectWrapper {
  position: relative;
}

.selectWrapper .icon {
  position: absolute;
  left: 18px;
  bottom: 18px;
  pointer-events: none;
}
