.commentsBox {
  display: flex;
  gap: 24px;
}

.star {
  fill: #ffc531;
}

.defaultStar {
  fill: #f2f4f7;
}
.commentsContainer {
  width: 430px;
  height: 532px;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.imgName {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #f2f4f7;
  color: #e44848;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratingBlock {
  width: 172px;
  height: 60px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.reviewerBlock p {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
}
.reviewerRating {
  display: flex;
  gap: 4px;
  margin-top: 4px;
  width: 96px;
  height: 16px;
}
.reviewerBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviewerComment {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
  text-align: justify;
}
