.formBox {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding: 24px;
  width: 338px;
  min-height: 532px;
  box-sizing: border-box;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form {
  width: 320px;
  min-height: 324px;
}
.form label {
  display: block;
  margin-bottom: 14px;
}
.textBox {
  width: 320px;
  height: 56px;
  margin-bottom: 24px;
}

.textBox p {
  color: #475467;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 8px;
  text-align: start;
}
.inputData::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(16, 24, 40, 0.6);
}
.inputComment {
  border-radius: 10px;
  padding: 18px 50px 76px 18px;
  width: 290px;
  height: 114px;
  background-color: #f7f7f7;
  border: none;
}

.message {
  color: rgb(221, 52, 52);
  font-size: 12px;
  display: block;
  min-height: 16px;
}

.calender {
  fill: #f7f7f7;
  stroke: #101828;
}
.inputData,
.inputComment {
  box-sizing: border-box;
}

.inputData {
  border-radius: 10px;
  padding: 18px;
  width: 290px;
  height: 56px;
  background-color: #f7f7f7;
  border: none;
  appearance: none;
  position: relative;
}

.inputData[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.iconWrapper {
  position: relative;
  width: 290px;
}

.customIcon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: auto;
}
.sendBtn {
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background-color: #e44848;
  border: none;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: #fff;
  margin-top: auto;
  align-self: center;
}

.sendBtn:hover {
  background-color: #d84343;
}

/* -------------------------------------------------- */

@media screen and (min-width: 768px) {
  .formBox {
    width: 460px;
  }
  .form {
    width: 400px;
    min-height: 324px;
  }

  .textBox {
    width: 415px;
    height: 56px;
    margin-bottom: 24px;
  }

  .textBox p {
    color: #475467;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 8px;
  }

  .inputComment {
    border-radius: 10px;
    padding: 18px 50px 76px 18px;
    width: 415px;
    height: 114px;
    background-color: #f7f7f7;
    border: none;
  }

  .inputData {
    border-radius: 10px;
    padding: 18px;
    width: 415px;
    height: 56px;
    background-color: #f7f7f7;
    border: none;
    appearance: none;
    position: relative;
  }

  .iconWrapper {
    position: relative;
    width: 415px;
  }
}

/* -------------------------------------------------- */

@media screen and (min-width: 1280px) {
  .formBox {
    width: 448px;
  }
  .form {
    width: 400px;
    min-height: 324px;
  }

  .textBox {
    width: 400px;
    height: 56px;
    margin-bottom: 24px;
  }

  .textBox p {
    color: #475467;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 8px;
  }

  .inputComment {
    border-radius: 10px;
    padding: 18px 50px 76px 18px;
    width: 400px;
    height: 114px;
    background-color: #f7f7f7;
    border: none;
  }

  .inputData {
    border-radius: 10px;
    padding: 18px;
    width: 400px;
    height: 56px;
    background-color: #f7f7f7;
    border: none;
    appearance: none;
    position: relative;
  }

  .iconWrapper {
    position: relative;
    width: 400px;
  }
}
