.toUpButton button {
  padding: 18px 24px;
  margin: 2rem 1rem;
  border-radius: 1.35rem;
  position: fixed;
  bottom: -6rem;
  right: 0rem;
  transition: 0.2s all ease-in-out;
  background-color: #e44848;
  color: #fff;
  border: none;
}

.toUpButton button.show {
  bottom: 0rem;
}

.toUpButton button:hover {
  background-color: #d84343;
}
