.contactName {
  font-weight: 900;
  margin-bottom: 10px;
}
span {
  margin-left: 8px;
}

.contactCard {
  background: rgba(133, 133, 239, 0.262);
  border: 2px solid #676565;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 15px auto 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 380px;
  height: auto;
  padding: 20px;
}

.contactBtn {
  background: inherit;
  cursor: pointer;
  border: none;
}
.contactBtnConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

/* .contactBin {
  fill: #da699c;
}

.contactSVG {
  fill: #d3c7ed;
  margin-right: 5px;
} */
@media screen and (min-width: 678px) {
  .contactCard {
    width: 400px;
  }
}
